.about-container {
  display: flex;
  flex-direction: column;
  .about-article {
    padding-top: 2rem;
  }
  .item-about-container {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1.5vw;
    width: 100%;
    padding: 0 !important;
    flex-wrap: wrap;
    .item-about {
      font-size: 1.5vw;
    }
    .is-success {
      scale: 1.2;
    }
  }
}
.about-tools-container {
  h2 {
    margin-bottom: 2rem;
  }
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5vw;

  ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    li {
      // border: 1px solid #fff;

      display: flex;
      gap: 1rem;
      align-items: center;
      flex-direction: column;
      i {
        font-size: 3rem;
      }
    }
  }
}

.about-language-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;

  h2 {
    margin-bottom: 2rem;
  }
  ul {
    display: flex !important;
    gap: 1.5rem;
    flex-direction: column;
    padding: 0 !important;

    li {
      align-items: baseline;
      display: flex;
      width: 100%;
      justify-content: space-between;
      div {
        display: flex;
        align-items: baseline;
        gap: 2vw;
        i {
          font-size: 3rem;
        }
      }
    }
    .progress-container {
      width: 20vw;
      height: 5vh;

      border: 5px dashed #ffffff;
      border-radius: 5px;
      .html-progress {
        width: 80%;
        opacity: 0;
        height: 100%;
        background-color: #ff5c2a;
        animation: progress 1.5s forwards;
        animation-delay: 1.1s;
      }
      .css-progress {
        width: 60%;
        opacity: 0;
        height: 100%;
        background-color: #c76494;
        animation: progress 1.5s forwards;
        animation-delay: 1.2s;
      }
      .java-progress {
        width: 55%;
        opacity: 0;
        height: 100%;
        background-color: #f7d800;
        animation: progress 1.5s forwards;
        animation-delay: 1.3s;
      }
      .react-progress {
        width: 60%;
        opacity: 0;
        height: 100%;
        background-color: #61dbfb;
        animation: progress 1.5s forwards;
        animation-delay: 1.4s;
      }
    }
  }
}
.mobile {
  h2 {
    font-size: 0.7rem;
  }
  .about-tools-container ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .progress-container {
    width: 100%;
    height: 2vh !important;
  }
  .about-article {
    font-size: 0.7rem;
    i {
      font-size: 1rem;
    }
  }
  .about-tools-container {
    p {
      font-size: 0.5rem;
    }
  }
}

.about-language-container,
.about-tools-container {
  li:hover {
    i {
      animation: spin 1s infinite;
    }
  }
}

////color ///
.react-icon {
  color: #61dafb;
}
.java-icon {
  color: #f7d800;
}
.html-icon {
  color: #ff5c2a;
}
.sass-icon {
  color: #c76494;
}

.mongo-icon {
  color: #13a54f;
}
.redux-icon {
  color: #7248b6;
}
.node-icon {
  color: #509941;
}
.npm-icon {
  color: #cf0100;
}
.git-icon {
  color: #ffffff;
}
.vscode-icon {
  color: #4aaaea;
}
.slack-icon,
.figma-icon {
  width: 1em;
}
.trello-icon {
  color: #0079bf;
}

////color ///

@keyframes progress {
  0% {
    opacity: 1;
    width: 0%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
